<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xxl.job.admin.dao.XxlJobRelationDao">
	
	<resultMap id="XxlJobRelation" type="com.xxl.job.admin.core.model.XxlJobRelation" >
		<result column="id" property="id" />
		<result column="user_id" property="userId" />
		<result column="relation_id" property="relationId" />
		<result column="type" property="type" />
		<result column="add_time" property="addTime" />
		<result column="user_name" property="userName" />
		<result column="title" property="title" />
		<result column="address_list" property="addressList" />
	</resultMap>

	<sql id="Base_Column_List">
		t.id,
		t.user_id,
		t.relation_id,
		t.type,
		t.add_time
	</sql>

	<insert id="save" parameterType="com.xxl.job.admin.core.model.XxlJobRelation" useGeneratedKeys="true" keyProperty="id" >
		INSERT INTO XXL_CUSTOM_QRTZ_RELATION ( `user_id`, `relation_id`, `type`, `add_time`)
		values ( #{userId}, #{relationId}, #{type}, #{addTime});
	</insert>

	<update id="update" parameterType="com.xxl.job.admin.core.model.XxlJobRelation" >
		UPDATE XXL_CUSTOM_QRTZ_RELATION
		SET `user_id` = #{userId},
		`relation_id` = #{relationId},
		`type` = #{type},
		`add_time` = #{addTime}
		WHERE id = #{id}
	</update>

	<delete id="delete" parameterType="java.lang.Integer" >
		DELETE FROM XXL_CUSTOM_QRTZ_RELATION
		WHERE user_id = #{userId} and relation_id = #{relationId} and type = #{type}
	</delete>
	<delete id="deleteById" parameterType="java.lang.Integer" >
		DELETE FROM XXL_CUSTOM_QRTZ_RELATION
		WHERE id = #{id}
	</delete>

	<select id="loadById" parameterType="java.lang.Integer" resultMap="XxlJobRelation">
		SELECT <include refid="Base_Column_List" />
		FROM XXL_CUSTOM_QRTZ_RELATION AS t
		WHERE t.id = #{id}
	</select>

	<select id="findAll" resultMap="XxlJobRelation">
		SELECT a.*,b.user_name,c.title,c.address_list
		FROM XXL_CUSTOM_QRTZ_RELATION a,XXL_CUSTOM_QRTZ_USER b,XXL_JOB_QRTZ_TRIGGER_GROUP c
		WHERE a.user_id=b.id AND a.relation_id=c.id
	</select>
	<select id="queryXxlJobRelationByUseridAndRelationId" parameterType="java.lang.Integer" resultMap="XxlJobRelation">
		SELECT <include refid="Base_Column_List" />
		FROM XXL_CUSTOM_QRTZ_RELATION AS t
		WHERE t.user_id = #{userId} AND  t.relation_id = #{relationId}
	</select>
	<select id="queryXxlJobRelationByUserid" parameterType="java.lang.Integer" resultMap="XxlJobRelation">
		SELECT <include refid="Base_Column_List" />
		FROM XXL_CUSTOM_QRTZ_RELATION AS t
		WHERE t.user_id = #{userId}
	</select>
</mapper>