<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/common}">
<head>
    <title>熔断监控</title>
    <script th:src="@{'/js/modules/spot/breakerCurrency.js?v='+${rnd}}"></script>

</head>
<body class="easyui-layout" layout:fragment="content">
<div id="toolbar" class="toolbar">

    监控币对:<input class="easyui-combobox" type="text" id="breakerCurrency-productId" name="breakerCurrency-productId"/>

    当前状态:<input class="easyui-combobox" type="text" id="breakerCurrency-status" name="breakerCurrency-status"/>

    <a id="btn-search" href="#" class="easyui-linkbutton" data-options="iconCls:'icon-search'" style="width:100px">搜索</a>

    <input id="modal-action" type="hidden" name="action" value=""/>
</div>
<div style="height: 94%; padding: 1px">
    <div id="breakerCurrency-datagrid"></div>
</div>
<div id="breakerCurrency-dlg">
    <div id="breakerCurrency-tabs" class="easyui-tabs" style="width:100%;height:100%;">
        <div title="任务列表">
            <div id="breaker-record-datagrid"></div>
        </div>

        <div title="历史记录">
            <div id="breaker-history-datagrid"></div>
        </div>
    </div>
</div>
<div id="breakerCurrency-breaker-dlg">
    <form id="breaker-form" name="breaker-form" method="post">
        <input type="hidden" id="breaker-Id" name="recordId"/>

        <table cellpadding="5" style="margin: 30px auto" class="form-table">

            <tr>
                <td style="text-align: center;font-weight: bold;">
                    确定要熔断吗？
                </td>
            </tr>

        </table>
    </form>
</div>
<div id="breakerCurrency-recovery-dlg">
    <form id="recovery-form" name="recovery-form" method="post">
        <input type="hidden" id="recovery-Id" name="recordId"/>

        <table cellpadding="5" style="margin: 30px auto" class="form-table">

            <tr>
                <td style="text-align: center;font-weight: bold;">
                    确定要恢复吗？
                </td>
            </tr>

        </table>
    </form>
</div>
</body>
</html>