<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cc.newex.dax.perpetual.data.MarkPriceRepository">
  <!-- CodeBuilder Generated -->
  <resultMap id="MarkPriceMap" type="cc.newex.dax.perpetual.domain.MarkPrice">
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="contract_code" property="contractCode" jdbcType="VARCHAR" />
    <result column="quote_currency" property="quoteCurrency" jdbcType="VARCHAR" />
    <result column="base_currency" property="baseCurrency" jdbcType="VARCHAR" />
    <result column="mark_price" property="markPrice" jdbcType="DECIMAL" />
    <result column="index_price" property="indexPrice" jdbcType="DECIMAL" />
    <result column="fee_rate" property="feeRate" jdbcType="DECIMAL" />
    <result column="estimate_fee_rate" property="estimateFeeRate" jdbcType="DECIMAL" />
    <result column="last_price" property="lastPrice" jdbcType="DECIMAL" />
    <result column="created_date" property="createdDate" jdbcType="TIMESTAMP" />
    <result column="modify_date" property="modifyDate" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" suffix=")" prefixOverrides="and">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Table_Name">
    mark_price
  </sql>
  <sql id="Base_Column_List_Without_Id">
    contract_code, quote_currency, base_currency, mark_price, index_price, fee_rate, 
    estimate_fee_rate, last_price, created_date, modify_date
  </sql>
  <sql id="Base_Column_List">
    id, 
    <include refid="Base_Column_List_Without_Id" />
  </sql>
  <sql id="Insert_Columns">
    <if test="record.id != null">
      id,
    </if>
    <if test="record.contractCode != null">
      contract_code,
    </if>
    <if test="record.quoteCurrency != null">
      quote_currency,
    </if>
    <if test="record.baseCurrency != null">
      base_currency,
    </if>
    <if test="record.markPrice != null">
      mark_price,
    </if>
    <if test="record.indexPrice != null">
      index_price,
    </if>
    <if test="record.feeRate != null">
      fee_rate,
    </if>
    <if test="record.estimateFeeRate != null">
      estimate_fee_rate,
    </if>
    <if test="record.lastPrice != null">
      last_price,
    </if>
    <if test="record.createdDate != null">
      created_date,
    </if>
    <if test="record.modifyDate != null">
      modify_date,
    </if>
  </sql>
  <sql id="Insert_Values">
    <if test="record.id != null">
      #{record.id,jdbcType=BIGINT},
    </if>
    <if test="record.contractCode != null">
      #{record.contractCode,jdbcType=VARCHAR},
    </if>
    <if test="record.quoteCurrency != null">
      #{record.quoteCurrency,jdbcType=VARCHAR},
    </if>
    <if test="record.baseCurrency != null">
      #{record.baseCurrency,jdbcType=VARCHAR},
    </if>
    <if test="record.markPrice != null">
      #{record.markPrice,jdbcType=DECIMAL},
    </if>
    <if test="record.indexPrice != null">
      #{record.indexPrice,jdbcType=DECIMAL},
    </if>
    <if test="record.feeRate != null">
      #{record.feeRate,jdbcType=DECIMAL},
    </if>
    <if test="record.estimateFeeRate != null">
      #{record.estimateFeeRate,jdbcType=DECIMAL},
    </if>
    <if test="record.lastPrice != null">
      #{record.lastPrice,jdbcType=DECIMAL},
    </if>
    <if test="record.createdDate != null">
      #{record.createdDate,jdbcType=TIMESTAMP},
    </if>
    <if test="record.modifyDate != null">
      #{record.modifyDate,jdbcType=TIMESTAMP},
    </if>
  </sql>
  <sql id="Batch_Insert_Values">
    #{record.id,jdbcType=BIGINT},
    #{record.contractCode,jdbcType=VARCHAR},
    #{record.quoteCurrency,jdbcType=VARCHAR},
    #{record.baseCurrency,jdbcType=VARCHAR},
    #{record.markPrice,jdbcType=DECIMAL},
    #{record.indexPrice,jdbcType=DECIMAL},
    #{record.feeRate,jdbcType=DECIMAL},
    #{record.estimateFeeRate,jdbcType=DECIMAL},
    #{record.lastPrice,jdbcType=DECIMAL},
    #{record.createdDate,jdbcType=TIMESTAMP},
    #{record.modifyDate,jdbcType=TIMESTAMP},
  </sql>
  <sql id="Batch_Insert_Values_On_DuplicateKey">
    <include refid="Batch_Insert_Values" />
  </sql>
  <sql id="Update_Set_From_Bean">
    <if test="record.contractCode != null">
      contract_code = #{record.contractCode,jdbcType=VARCHAR},
    </if>
    <if test="record.quoteCurrency != null">
      quote_currency = #{record.quoteCurrency,jdbcType=VARCHAR},
    </if>
    <if test="record.baseCurrency != null">
      base_currency = #{record.baseCurrency,jdbcType=VARCHAR},
    </if>
    <if test="record.markPrice != null">
      mark_price = #{record.markPrice,jdbcType=DECIMAL},
    </if>
    <if test="record.indexPrice != null">
      index_price = #{record.indexPrice,jdbcType=DECIMAL},
    </if>
    <if test="record.feeRate != null">
      fee_rate = #{record.feeRate,jdbcType=DECIMAL},
    </if>
    <if test="record.estimateFeeRate != null">
      estimate_fee_rate = #{record.estimateFeeRate,jdbcType=DECIMAL},
    </if>
    <if test="record.lastPrice != null">
      last_price = #{record.lastPrice,jdbcType=DECIMAL},
    </if>
    <if test="record.createdDate != null">
      created_date = #{record.createdDate,jdbcType=TIMESTAMP},
    </if>
    <if test="record.modifyDate != null">
      modify_date = #{record.modifyDate,jdbcType=TIMESTAMP},
    </if>
  </sql>
  <!-- insert -->
  <insert id="insert" parameterType="java.util.Map">
    insert into 
    <include refid="Table_Name" />
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <include refid="Insert_Columns" />
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <include refid="Insert_Values" />
    </trim>
  </insert>
  <insert id="batchInsert" parameterType="java.util.Map">
    insert into 
    <include refid="Table_Name" />
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <include refid="Base_Column_List" />
    </trim>
    values 
    <foreach collection="records" item="record" index="index" separator=",">
      <trim prefix="(" suffix=")" suffixOverrides=",">
        <include refid="Batch_Insert_Values_On_DuplicateKey" />
      </trim>
    </foreach>
  </insert>
  <insert id="batchInsertOnDuplicateKey" parameterType="java.util.Map">
    insert into 
    <include refid="Table_Name" />
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <include refid="Base_Column_List" />
    </trim>
    values 
    <foreach collection="records" item="record" index="index" separator=",">
      <trim prefix="(" suffix=")" suffixOverrides=",">
        <include refid="Batch_Insert_Values_On_DuplicateKey" />
      </trim>
    </foreach>
    ON DUPLICATE KEY UPDATE
    contract_code = VALUES(contract_code), quote_currency = VALUES(quote_currency), base_currency = VALUES(base_currency), mark_price = VALUES(mark_price), index_price = VALUES(index_price), fee_rate = VALUES(fee_rate), estimate_fee_rate = VALUES(estimate_fee_rate), last_price = VALUES(last_price), created_date = VALUES(created_date), modify_date = VALUES(modify_date)
  </insert>
  <!-- end insert -->
  <!-- delete -->
  <delete id="deleteById" parameterType="java.util.Map">
    delete from 
    <include refid="Table_Name" />
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="java.util.Map">
    delete from 
    <include refid="Table_Name" />
    <if test="example != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <delete id="deleteIn" parameterType="java.util.Map">
    delete from 
    <include refid="Table_Name" />
    where id in 
    <foreach collection="records" item="record" index="index" open="(" separator="," close=")">
      #{record.id,jdbcType=BIGINT}
    </foreach>
  </delete>
  <!-- end delete -->
  <!-- update -->
  <update id="updateById" parameterType="java.util.Map">
    update 
    <include refid="Table_Name" />
    <set>
      <include refid="Update_Set_From_Bean" />
    </set>
    where id = #{record.id,jdbcType=BIGINT}
  </update>
  <update id="updateByExample" parameterType="java.util.Map">
    update 
    <include refid="Table_Name" />
    <set>
      <include refid="Update_Set_From_Bean" />
    </set>
    <if test="example != null">
      <include refid="Example_Where_Clause" />
    </if>
  </update>
  <update id="batchUpdate" parameterType="java.util.Map">
    <foreach collection="records" item="record" index="index" open="" close="" separator=";">
      update 
      <include refid="Table_Name" />
      <set>
        <include refid="Update_Set_From_Bean" />
      </set>
      where id = #{record.id,jdbcType=BIGINT}
    </foreach>
  </update>
  <!-- end update -->
  <!-- select -->
  <select id="selectById" parameterType="java.util.Map" resultMap="MarkPriceMap">
    select 
    <include refid="Base_Column_List" />
    from 
    <include refid="Table_Name" />
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="selectByExample" resultMap="MarkPriceMap" parameterType="java.util.Map">
    select
    <if test="example != null and example.distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from 
    <include refid="Table_Name" />
    <if test="example != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="example != null and example.orderByClause != null">
      order by ${example.orderByClause}
    </if>
  </select>
  <select id="selectOneByExample" resultMap="MarkPriceMap" parameterType="java.util.Map">
    select
    <include refid="Base_Column_List" />
    from 
    <include refid="Table_Name" />
    <if test="example != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="example != null and example.orderByClause != null">
      order by ${example.orderByClause}
    </if>
    limit 1
  </select>
  <select id="selectIn" resultMap="MarkPriceMap" parameterType="java.util.Map">
    select
    <include refid="Base_Column_List" />
    from 
    <include refid="Table_Name" />
    where id in 
    <foreach collection="records" item="record" index="index" open="(" separator="," close=")">
      #{record.id,jdbcType=BIGINT}
    </foreach>
  </select>
  <select id="countByExample" parameterType="java.util.Map" resultType="java.lang.Integer">
    select count(1) as total from 
    <include refid="Table_Name" />
    <if test="example != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <select id="countByPager" parameterType="java.util.Map" resultType="java.lang.Integer">
    select count(1) as total from 
    <include refid="Table_Name" />
    <if test="example != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <select id="selectByPager" resultMap="MarkPriceMap" parameterType="java.util.Map">
    select
    <include refid="Base_Column_List" />
    from 
    <include refid="Table_Name" />
    <if test="example != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="pager.sortItem != null and pager.sortItem != ''">
      order by ${pager.sortItem} ${pager.sortType}
    </if>
    limit #{pager.startIndex} , #{pager.pageSize}
  </select>
  <!-- end select -->
  <!-- My Custom Interfaces -->
</mapper>