<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cc.newex.dax.perpetual.data.MatchingCacheRepository">
  <!-- CodeBuilder Generated -->
  <resultMap id="MatchingCacheMap" type="cc.newex.dax.perpetual.domain.MatchingCache">
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="contract_code" property="contractCode" jdbcType="VARCHAR" />
    <result column="contract_info" property="contractInfo" jdbcType="LONGVARCHAR" />
    <result column="pending_info" property="pendingInfo" jdbcType="LONGVARCHAR" />
    <result column="order_all_update_info" property="orderAllUpdateInfo" jdbcType="LONGVARCHAR" />
    <result column="order_all_delete_info" property="orderAllDeleteInfo" jdbcType="LONGVARCHAR" />
    <result column="order_finish_info" property="orderFinishInfo" jdbcType="LONGVARCHAR" />
    <result column="user_bill_info" property="userBillInfo" jdbcType="LONGVARCHAR" />
    <result column="system_bill_info" property="systemBillInfo" jdbcType="LONGVARCHAR" />
    <result column="created_date" property="createdDate" jdbcType="TIMESTAMP" />
    <result column="modify_date" property="modifyDate" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" suffix=")" prefixOverrides="and">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Table_Name">
    matching_cache
  </sql>
  <sql id="Base_Column_List_Without_Id">
    contract_code, contract_info, pending_info, order_all_update_info, order_all_delete_info, 
    order_finish_info, user_bill_info, system_bill_info, created_date, modify_date
  </sql>
  <sql id="Base_Column_List">
    id, 
    <include refid="Base_Column_List_Without_Id" />
  </sql>
  <sql id="Insert_Columns">
    <if test="record.contractCode != null">
      contract_code,
    </if>
    <if test="record.contractInfo != null">
      contract_info,
    </if>
    <if test="record.pendingInfo != null">
      pending_info,
    </if>
    <if test="record.orderAllUpdateInfo != null">
      order_all_update_info,
    </if>
    <if test="record.orderAllDeleteInfo != null">
      order_all_delete_info,
    </if>
    <if test="record.orderFinishInfo != null">
      order_finish_info,
    </if>
    <if test="record.userBillInfo != null">
      user_bill_info,
    </if>
    <if test="record.systemBillInfo != null">
      system_bill_info,
    </if>
    <if test="record.createdDate != null">
      created_date,
    </if>
    <if test="record.modifyDate != null">
      modify_date,
    </if>
  </sql>
  <sql id="Insert_Values">
    <if test="record.contractCode != null">
      #{record.contractCode,jdbcType=VARCHAR},
    </if>
    <if test="record.contractInfo != null">
      #{record.contractInfo,jdbcType=LONGVARCHAR},
    </if>
    <if test="record.pendingInfo != null">
      #{record.pendingInfo,jdbcType=LONGVARCHAR},
    </if>
    <if test="record.orderAllUpdateInfo != null">
      #{record.orderAllUpdateInfo,jdbcType=LONGVARCHAR},
    </if>
    <if test="record.orderAllDeleteInfo != null">
      #{record.orderAllDeleteInfo,jdbcType=LONGVARCHAR},
    </if>
    <if test="record.orderFinishInfo != null">
      #{record.orderFinishInfo,jdbcType=LONGVARCHAR},
    </if>
    <if test="record.userBillInfo != null">
      #{record.userBillInfo,jdbcType=LONGVARCHAR},
    </if>
    <if test="record.systemBillInfo != null">
      #{record.systemBillInfo,jdbcType=LONGVARCHAR},
    </if>
    <if test="record.createdDate != null">
      #{record.createdDate,jdbcType=TIMESTAMP},
    </if>
    <if test="record.modifyDate != null">
      #{record.modifyDate,jdbcType=TIMESTAMP},
    </if>
  </sql>
  <sql id="Batch_Insert_Values">
    #{record.contractCode,jdbcType=VARCHAR},
    #{record.contractInfo,jdbcType=LONGVARCHAR},
    #{record.pendingInfo,jdbcType=LONGVARCHAR},
    #{record.orderAllUpdateInfo,jdbcType=LONGVARCHAR},
    #{record.orderAllDeleteInfo,jdbcType=LONGVARCHAR},
    #{record.orderFinishInfo,jdbcType=LONGVARCHAR},
    #{record.userBillInfo,jdbcType=LONGVARCHAR},
    #{record.systemBillInfo,jdbcType=LONGVARCHAR},
    #{record.createdDate,jdbcType=TIMESTAMP},
    #{record.modifyDate,jdbcType=TIMESTAMP},
  </sql>
  <sql id="Batch_Insert_Values_On_DuplicateKey">
    #{record.id,jdbcType=BIGINT},
    <include refid="Batch_Insert_Values" />
  </sql>
  <sql id="Update_Set_From_Bean">
    <if test="record.contractCode != null">
      contract_code = #{record.contractCode,jdbcType=VARCHAR},
    </if>
    <if test="record.contractInfo != null">
      contract_info = #{record.contractInfo,jdbcType=LONGVARCHAR},
    </if>
    <if test="record.pendingInfo != null">
      pending_info = #{record.pendingInfo,jdbcType=LONGVARCHAR},
    </if>
    <if test="record.orderAllUpdateInfo != null">
      order_all_update_info = #{record.orderAllUpdateInfo,jdbcType=LONGVARCHAR},
    </if>
    <if test="record.orderAllDeleteInfo != null">
      order_all_delete_info = #{record.orderAllDeleteInfo,jdbcType=LONGVARCHAR},
    </if>
    <if test="record.orderFinishInfo != null">
      order_finish_info = #{record.orderFinishInfo,jdbcType=LONGVARCHAR},
    </if>
    <if test="record.userBillInfo != null">
      user_bill_info = #{record.userBillInfo,jdbcType=LONGVARCHAR},
    </if>
    <if test="record.systemBillInfo != null">
      system_bill_info = #{record.systemBillInfo,jdbcType=LONGVARCHAR},
    </if>
    <if test="record.createdDate != null">
      created_date = #{record.createdDate,jdbcType=TIMESTAMP},
    </if>
    <if test="record.modifyDate != null">
      modify_date = #{record.modifyDate,jdbcType=TIMESTAMP},
    </if>
  </sql>
  <!-- insert -->
  <insert id="insert" parameterType="java.util.Map">
    <selectKey resultType="java.lang.Long" keyProperty="record.id" order="AFTER">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into 
    <include refid="Table_Name" />
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <include refid="Insert_Columns" />
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <include refid="Insert_Values" />
    </trim>
  </insert>
  <insert id="batchInsert" parameterType="java.util.Map">
    insert into 
    <include refid="Table_Name" />
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <include refid="Base_Column_List_Without_Id" />
    </trim>
    values 
    <foreach collection="records" item="record" index="index" separator=",">
      <trim prefix="(" suffix=")" suffixOverrides=",">
        <include refid="Batch_Insert_Values" />
      </trim>
    </foreach>
  </insert>
  <insert id="batchInsertOnDuplicateKey" parameterType="java.util.Map">
    insert into 
    <include refid="Table_Name" />
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <include refid="Base_Column_List" />
    </trim>
    values 
    <foreach collection="records" item="record" index="index" separator=",">
      <trim prefix="(" suffix=")" suffixOverrides=",">
        <include refid="Batch_Insert_Values_On_DuplicateKey" />
      </trim>
    </foreach>
    ON DUPLICATE KEY UPDATE
    contract_code = VALUES(contract_code), contract_info = VALUES(contract_info), pending_info = VALUES(pending_info), order_all_update_info = VALUES(order_all_update_info), order_all_delete_info = VALUES(order_all_delete_info), order_finish_info = VALUES(order_finish_info), user_bill_info = VALUES(user_bill_info), system_bill_info = VALUES(system_bill_info), created_date = VALUES(created_date), modify_date = VALUES(modify_date)
  </insert>
  <!-- end insert -->
  <!-- delete -->
  <delete id="deleteById" parameterType="java.util.Map">
    delete from 
    <include refid="Table_Name" />
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="java.util.Map">
    delete from 
    <include refid="Table_Name" />
    <if test="example != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <delete id="deleteIn" parameterType="java.util.Map">
    delete from 
    <include refid="Table_Name" />
    where id in 
    <foreach collection="records" item="record" index="index" open="(" separator="," close=")">
      #{record.id,jdbcType=BIGINT}
    </foreach>
  </delete>
  <!-- end delete -->
  <!-- update -->
  <update id="updateById" parameterType="java.util.Map">
    update 
    <include refid="Table_Name" />
    <set>
      <include refid="Update_Set_From_Bean" />
    </set>
    where id = #{record.id,jdbcType=BIGINT}
  </update>
  <update id="updateByExample" parameterType="java.util.Map">
    update 
    <include refid="Table_Name" />
    <set>
      <include refid="Update_Set_From_Bean" />
    </set>
    <if test="example != null">
      <include refid="Example_Where_Clause" />
    </if>
  </update>
  <update id="batchUpdate" parameterType="java.util.Map">
    <foreach collection="records" item="record" index="index" open="" close="" separator=";">
      update 
      <include refid="Table_Name" />
      <set>
        <include refid="Update_Set_From_Bean" />
      </set>
      where id = #{record.id,jdbcType=BIGINT}
    </foreach>
  </update>
  <!-- end update -->
  <!-- select -->
  <select id="selectById" parameterType="java.util.Map" resultMap="MatchingCacheMap">
    select 
    <include refid="Base_Column_List" />
    from 
    <include refid="Table_Name" />
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="selectByExample" resultMap="MatchingCacheMap" parameterType="java.util.Map">
    select
    <if test="example != null and example.distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from 
    <include refid="Table_Name" />
    <if test="example != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="example != null and example.orderByClause != null">
      order by ${example.orderByClause}
    </if>
  </select>
  <select id="selectOneByExample" resultMap="MatchingCacheMap" parameterType="java.util.Map">
    select
    <include refid="Base_Column_List" />
    from 
    <include refid="Table_Name" />
    <if test="example != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="example != null and example.orderByClause != null">
      order by ${example.orderByClause}
    </if>
    limit 1
  </select>
  <select id="selectIn" resultMap="MatchingCacheMap" parameterType="java.util.Map">
    select
    <include refid="Base_Column_List" />
    from 
    <include refid="Table_Name" />
    where id in 
    <foreach collection="records" item="record" index="index" open="(" separator="," close=")">
      #{record.id,jdbcType=BIGINT}
    </foreach>
  </select>
  <select id="countByExample" parameterType="java.util.Map" resultType="java.lang.Integer">
    select count(1) as total from 
    <include refid="Table_Name" />
    <if test="example != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <select id="countByPager" parameterType="java.util.Map" resultType="java.lang.Integer">
    select count(1) as total from 
    <include refid="Table_Name" />
    <if test="example != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <select id="selectByPager" resultMap="MatchingCacheMap" parameterType="java.util.Map">
    select
    <include refid="Base_Column_List" />
    from 
    <include refid="Table_Name" />
    <if test="example != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="pager.sortItem != null and pager.sortItem != ''">
      order by ${pager.sortItem} ${pager.sortType}
    </if>
    limit #{pager.startIndex} , #{pager.pageSize}
  </select>
  <!-- end select -->
  <!-- My Custom Interfaces -->
</mapper>