<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/common}">
<head>
    <title>IP限流管理</title>
    <script th:src="@{'/js/modules/users/ip-rate-limit.js?v='+${rnd}}"></script>
</head>
<body class="easyui-layout" layout:fragment="content">
<div id="toolbar" class="toolbar">
    IP:<input class="easyui-textbox" type="text" id="ip" name="ip" style="width: 200px"/>
    备注:<input class="easyui-textbox" type="text" id="memo" name="memo" style="width: 200px"/>

    <a id="btn-search" href="#" class="easyui-linkbutton" iconCls="icon-search" style="margin-left:50px;"> 搜索 </a>
    <input id="modal-action" type="hidden" name="action" value=""/>
</div>
<div style="height: 96%; padding: 1px">
    <div id="ipRateLimit-datagrid"></div>
</div>
<div id="ipRateLimit-dlg">
    <form id="ipRateLimit-form" name="ipRateLimit-form" method="post">
        <center>
            <table cellpadding="5" class="form-table">

                <tr>
                    <td>IP:</td>
                    <td><input class="easyui-textbox" type="text" id="us_ip" name="ip"
                               data-options="required:true"
                               style="width: 300px"/></td>
                </tr>
                <tr>
                    <td>请求次数限制:</td>
                    <td><input class="easyui-textbox" type="text" id="us_rateLimit" name="rateLimit"
                               data-options="required:true"
                               style="width: 300px"/>eg:格式：20/2,2秒20次
                    </td>
                </tr>
                <tr>
                    <td>备注:</td>
                    <td style="padding-top:10px;">
                        <input class="easyui-textbox" data-options="multiline:true" type="text" id="us_memo"
                               name="memo"
                               style="width: 99%;height: 100px"/></td>

                </tr>
                <input id="id" type="hidden" name="id" value=""/>
            </table>
        </center>
    </form>
</div>
</body>
</html>