<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cc.newex.dax.boss.report.data.ConfRepository">
    <select id="selectByParentId" resultMap="ConfMap" parameterType="java.lang.Integer">
        SELECT
            t.*,
            (SELECT
                IF (count(*) > 0, 1, 0)
             FROM
                report_conf t1
             WHERE
                t1.parent_id = t.id) AS has_child
        FROM
              report_conf t
        WHERE
              t.parent_id = #{parentId,jdbcType=INTEGER}
        ORDER BY
              t.sequence asc
    </select>
    <select id="selectByParentKey" resultMap="ConfMap" parameterType="java.util.Map">
        select
        <include refid="Base_Column_List"/>
        from report_conf
        where parent_id in (SELECT id FROM report_conf where code = #{code,jdbcType=VARCHAR})
    </select>
</mapper>
