<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cc.newex.dax.perpetual.data.ExplosionRepository">
  <select id="listExplosion" resultMap="ExplosionMap">
    SELECT
    <include refid="Base_Column_List"/>
    FROM <include refid="Table_Name" />
    WHERE id > #{id,jdbcType=BIGINT} and contract_code = #{contractCode} ORDER BY id ASC LIMIT 0, ${size}
  </select>

  <insert id="batchInsertOnDuplicateKeyDoNothing" parameterType="java.util.Map">
    insert into
    <include refid="Table_Name"/>
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <include refid="Base_Column_List"/>
    </trim>
    values
    <foreach collection="records" item="record" index="index" separator=",">
      <trim prefix="(" suffix=")" suffixOverrides=",">
        <include refid="Batch_Insert_Values_On_DuplicateKey"/>
      </trim>
    </foreach>
    ON DUPLICATE KEY UPDATE
    user_id = VALUES(user_id), broker_id = VALUES(broker_id), contract_code = VALUES(contract_code)
  </insert>

</mapper>