<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/common}">
<head>
    <title>合约列表</title>
    <script th:src="@{'/js/modules/futures/futures-list.js?v='+${rnd}}"></script>
</head>
<body class="easyui-layout" layout:fragment="content">
<div id="toolbar" class="toolbar">
    合约名称:<input class="easyui-textbox" id="futures-name" name="futures-name" style="width: 200px">
    <a id="btn-search" href="#" class="easyui-linkbutton" iconCls="icon-search" style="margin-left:50px;"> 搜索 </a>
    <input id="modal-action" type="hidden" name="action" value=""/>
</div>
<div style="height: 93%;padding:2px;width: 100%" >
    <div id="futures-datagrid" style="width: 100%"></div>
</div>


</body>
